.profile-card{
  text-align: center;
  padding:0 0.2rem 0.2rem;
  img{
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;

  }
}


h2{
  padding: 1rem;
}
a{
  padding:1rem;
}
