footer{
  height: 1rem;
  padding: 0.2rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: -webkit-linear-gradient(to right, #0041ED, #86A0E4);
  background: linear-gradient(to right, #0041ED, #86A0E4);
}
